@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400&display=swap);

html {
    font-family: 'Noto Sans', sans-serif;
}

body {

}

.header {
    text-align: center;
    border-bottom: 10px solid rgb(30, 30, 30);
    border-top: 10px solid black;
    background-color: rgb(25, 25, 25);
    color: rgb(235, 235, 235);
}

.linksBar{
    background-color: rgb(250, 250, 255);
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    padding: 1%;
    border-radius: 2px;
}

.linkImg {
    width: 40px;
    margin: 5px;
}

.mainContent{
    padding-top: 40px;
}

.blogCard{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(253, 253, 255);
}

.blogPost {
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
}

.postTitle {
    padding: 5px;
    font-size: 24px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.postContent {
    margin: 10;
}

.postQuestion {
    font-weight: bold;
    font-size: 16px;
}

.postAnswer {
    font-size: 16px;
}