@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400&display=swap);

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: url("..\\images\\background-clouds.png");
    background-position: bottom left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.postTitle {
    color: #00448dbb;
}

.postTitle a{
    color: #007bff;
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
}

.header {
    text-align: center;
    padding: 10px;
    background-color: rgb(36, 41, 46);
    color: rgb(250, 250, 246);
}

.linksBar {
    background-color: rgb(250, 251, 253);
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.links {
    padding: 10px;
    margin: auto;
    width: auto;
}

.linkImg {
    width: 40px;
    margin: 5px;
}

.linkImg:hover {
    opacity: 66%;
}

.mainContent {
    padding-top: 30px;
}

.blogCard {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(253, 253, 255);
}

.blogCard:hover {
    background-color: rgb(245, 246, 248);
}

.blogPost {
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
}

.postTitle {
    padding: 5px;
    font-size: 24px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.postContent {
    padding: 20px;
}

.postQuestion {
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    padding: 10px;
}

.postAnswer {
    font-size: 16px;
    margin: 0px;
    padding: 16px;
    background-color: rgb(245, 246, 248);
    border: 1px solid rgb(220, 220, 220);
}